{% extends "todo/layout.html" %}
{% load static %}

{% block title %}Inicio | Veluweb{% endblock %}

{% block content %}
<section class="hero" style="text-align: center; padding: 80px 20px;  background-size: cover; background-position: center; color: black;">
    <h2 style="font-size: 48px; margin-bottom: 20px;">Bienvenido a Veluweb</h2>
    <p style="font-size: 20px;">Tu sistema inteligente para la gestión de clientes, facturas y más.</p>
    <div style="margin-top: 40px;">

        <button class="btn-custom text-white px-6 py-3 rounded-lg font-medium text-sm transition-all duration-300 hover:-translate-y-1 no-underline inline-block text-center">
        <a href="{% url 'registro' %}">Registrarse</a>
        </button>

        <button class="btn-custom text-white px-6 py-3 rounded-lg font-medium text-sm transition-all duration-300 hover:-translate-y-1 no-underline inline-block text-center">
        <a href="{% url 'signIn' %}">Iniciar sesión</a>
        </button>

    </div>
</section>

{% endblock %}