{% extends "todo/layout2.html" %}
{% load static %}

{% block title %}Inicio | Veluweb{% endblock %}

{% block content %}
<section class="hero" style="text-align: center; padding: 80px 20px;  background-size: cover; background-position: center; color: black;">
    <h2 style="font-size: 48px; margin-bottom: 20px;">Bienvenido a Veluweb</h2>
    <p style="font-size: 20px;">Tu sistema inteligente para la gestión de clientes, facturas y más.</p>
    <div style="margin-top: 40px;">
        <button class="btn btn-primary btn-lg">
        <a href="{% url 'tabla' %}">Ir a tabla</a>
        </button>
    </div>
</section>

{% endblock %}


