{% extends "todo/layout2.html" %}
{% load static %}

{% block title %}Inicio | Veluweb{% endblock %}

{% block content %}
<section class="text-center py-20 px-5 bg-cover bg-center text-black">
    <h2 class="text-5xl mb-5 drop-shadow-lg" style="text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6);">
        Bienvenido a Veluweb
    </h2>
    <p class="text-xl drop-shadow-md" style="text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6);">
        Tu sistema inteligente para la gestión de clientes, facturas y más.
    </p>
</section>

{% endblock %}