{% extends "todo/layout.html" %}

{% block content %}
<div class="container mt-4">
    <h1>Editar Factura #{{ factura.id }}</h1>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}

        <h4>Detalles de la Factura</h4>
        {{ formset.management_form }}
        <table class="table">
            <thead>
                <tr>
                    <th>Producto</th>
                    <th>Cantidad</th>
                    <th>Precio Unitario</th>
                </tr>
            </thead>
            <tbody>
                {% for form in formset %}
                <tr>
                    {{ form.id }}
                    {% for hidden in form.hidden_fields %}
                        {{ hidden }}
                    {% endfor %}
                    <td>{{ form.producto }}</td>
                    <td>{{ form.cantidad }}</td>
                    <td>{{ form.precio_unitario }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>

        <button type="submit" class="btn btn-primary">Guardar Cambios</button>
        <a href="{% url 'lista_facturas' %}" class="btn btn-secondary">Cancelar</a>
    </form>
</div>
{% endblock %}
